*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.one{

    background-color: rgb(167, 62, 41);
    color: rgb(253, 252, 252);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.two{

    justify-content: end;
    display: flex;
    gap: 40px;
    margin-right: 50px;
}



.one a{

    text-decoration: none;
    color:rgb(253, 250, 250) ;

}

.three{

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.four{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.card{

    display: flex;
    gap: 40px;
    margin-left: 15px;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.card div, .card1 div {
  position: relative;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card div:hover, .card1 div:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 25px white;
  cursor: pointer;
}



.card1{

    display: flex;
    gap: 40px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.form{

    text-align: center;
    margin-top: 30px;
    display: none;

}
.button{
    display: none;
}
.eight{
    display: none;
}

